<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports.Essentials" version="13.0.15.1840" targetFramework="net20" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net20" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net20" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net20" />
  <package id="DockPanelSuite" version="2.11.0" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.1.0.2" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="8.1.0.2" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.UII.CommonAssemblies" version="8.1.0.2" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.UII.DesktopAssemblies" version="8.1.0.2" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.1.0.2" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="8.1.0.2" targetFramework="net462" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net462" />
</packages>